:root 
{
    --mainPink: #ef7998;
    --mainBlack: #000;
    --mainPurple: #614AD3;
}
/* nav links */
.navbar-toggler
{
  outline: none !important;
}
.toggler-icon
{
  font-size: 2.5rem;
  color: var(--mainPink);
}
.nav-link 
{
  color: var(--mainPink);
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}
.nav-link:hover
{
  color: var(--mainBlack);
}

/* Dropdown menu code */
.dropdown-toggle
{
  color: var(--mainPink);
  font-size: 1.5rem;
}

.dropdown 
{
    padding: 7px;
    position: inherit;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
    color: var(--mainPink);
}

.dropdown:hover .dropdown-content 
{
    display: block;
}

/* Hangman CSS */
body 
{
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

span
{
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}

p 
{
    font-weight: 300;
    margin-bottom: .8rem;
    padding: 30px
}

.game
{
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.puzzle 
{
    display: flex;
    margin-bottom: 4.8rem;
}

.button 
{
    background: #7044a0;
    border: none;
    border-bottom: 2px solid #603a88;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .3s ease, color .3s ease;
}

.button:hover 
{
    background: #5F3A87;
}